.organism-forgot-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        color:#101010;
    }
    label{
        text-align: center;
        color:#858585;
    }
}
  
.dark-theme.organism-forgot-div {
    h3{
        color:#ffffff;
      }
}