.molecule-icontext-box {
    background-color: #0C2DC8;
    width: 160px;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    border-radius: 4px;

    .molecule-text-style {
        color: white;
        vertical-align:sub;
        font-size:21.33px;
        font-weight:500;
        margin-left:5px;
    }
}