.organism-button-row {
  .molecules-icontext-wrapper.select {
    border: 1px solid #0c2dc8 !important;
  }
  .row {
    .col-md-8 {
      display: flex;
      justify-content: flex-end;
      button:last-child {
        margin-right: 10px;
        display: flex;
        flex-direction: row-reverse;
        .atom-label {
          padding-right: 10px;
        }
      }
    }
    .col-md-4 {
      button:first-child {
        margin-left: 10px;
      }
    }
  }
}

.organism-button-row .molecules-icontext-wrapper {
  margin-right: 16px;
}

.organism-button-row .molecules-searchbox-wrapper {
  margin-right: 16px;
}

.dark-theme.organism-button-row {
  .molecules-icontext-wrapper {
    border: 1px solid #bebebe;
  }
}
