.main-theme {
  background-color: #FFFFFF;
  color: #5c4949;
  font-family: 'Roboto', sans-serif;
}

.dark-theme {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
