.atom-input-dark {
  width: 500;
  background: #000000;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
}

.atom-input-dark:focus {
  background: #000;
  color: #fff;
}

.atom-input-white {
  width: 500;
  /* background: #e5e5e5; */
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 4px;
}
