.atom-input-dark {
  width: 500;
  background: #000000;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 4px;
}

.atom-input-white {
  width: 500;
  background: #e5e5e5;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  border-radius: 4px;
}

.atom-default {
  widows: 400;
  border-style: dotted;
}
