.atom-p {
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13.33px;
}

.atom-p-red {
  color: red;
}

.atom-p-black {
  color: black;
}

.atom-p-green {
  color: #2eaf71;
}

.atom-p-gray {
  color: dimgray;
}

.atom-p-blue {
  color: #0c2dc8;
}
