.molecules-currencySearchList-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #d6d4d4;

  .molecules-add-label {
    color: #0c2dc8;
    font-size: 12px;
  }

  .molecules-remove-label {
    color: #e21f1f;
    font-size: 12px;
  }
}

.dark-theme {
  // background-color: #1E1E1E;
  // border-bottom: 1px solid #121212;

  .molecules-add-label {
    color: #46ccff;
  }

  .molecules-remove-label {
    color: #e21f1f;
  }
}

.currencySearchList-no-border {
  border-bottom: none;
}
