.molecules-addcryptoCurrency-wrapper {
  border: 1px dashed #2460B9;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;

  .addCrypto-icon-wrapper {
    width: 32px;
    height: 32px;
    background-color: #DCE6F4 !important;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;

    .plus-icon-label {
      font-size: large;
      line-height: 0;
      font-size: 32px;
      justify-content: center;
      color: #2460B9;
    }
  }

  .dark-label {
    color: #D0D0D0;
  }

  .white-label {
    color: #0C2DC8;
  }
}