.molecules-addcryptoCurrency-wrapper {
  border: 1px dashed #2460b9;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 260px;
  margin-bottom: 16px;

  .addCrypto-icon-wrapper {
    width: 32px;
    height: 32px;
    background-color: #dce6f4 !important;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;

    .plus-icon-label {
      font-size: large;
      line-height: 0;
      font-size: 32px;
      justify-content: center;
      color: #2460b9;
      margin: 0;
    }
  }

  .dark-label {
    color: #d0d0d0;
  }

  .white-label {
    color: #0c2dc8;
  }
}
