.organism-footer-container {
  .container {
    width: 80%;
    margin: 0;
  }

  .atom-p {
    color: #000000;
  }

  .atom-hr {
    border: 1px solid #d6d6d4;
  }

  > .atom-p {
    text-align: center;
  }

  .footer-navs-div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .footer-subscribe-p {
    color: #0c2dc8 !important;
    font-size: 16px;
  }
  div div:first-child .atom-p {
    color: #666666;
  }
}

.dark-theme.organism-footer-container {
  .atom-p, div div:first-child .atom-p{
    color: #bebebe;
  }

  .atom-hr {
    border: 1px solid #101010;
  }

  .footer-subscribe-p {
    color: #46ccff !important;
    font-size: 16px;
  }

  > .atom-p, .atom-p.mb-0{
    color: #D0D0D0;
  }
}