.template-landing-container {
  .atom-h4 {
    margin:24px 0px 24px 10px;
  }

  .organism-button-row {
    margin-bottom: 30px;
  }
}
.dark-theme.template-landing-container{
  .atom-h4{
    color:#fff;
  }
}
