.organism-signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //height: 100vh;
  > div:first-child {
    width: 100%;
    div:last-child {
      .atom-image {
        float: right;
      }
    }
  }

  //For showing the hide and show button
  > div {
    div:nth-child(3) {
      div {
        label:last-child {
          display: block;
        }
      }
    }
  }
  //-----------------------------------//

  h3 {
    margin-top: 50px;
  }

  div label:last-child {
    margin-top: 32px;
    width: inherit;
    text-align: center;
  }

  .molecule-container-textinput-label {
    .atom-label {
      color: #2a53d5;
    }
  }

  .atom-image {
    height: 32px;
    width: 32px;
    position: relative;
    top: 12px;
  }
}

.dark-theme.organism-signup-wrapper {
  h3 {
    color: #ffffff;
  }
  .atom-label {
    color: #ffffff;
  }
}
