.organism-signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    color: #101010;
  }

  div label:last-child {
    margin-top: 32px;
    width: inherit;
    text-align: center;
  }

  .molecule-container-textinput-label {
    .atom-label {
      color: #2a53d5;
    }
  }
}

.dark-theme.organism-signup-wrapper {
  h3 {
    color: #ffffff;
  }
  .atom-label {
    color: #ffffff;
  }
}
